body{
    margin: 20px;


}
img{
    width: 30%;
    
    
}
.card{
   border-bottom: 7px solid #b1a2ef;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    margin: 40px auto;
    background-color:#ddebf8;
    text-align: center;
    width:600px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}
