body{
    color:#82a5ca;
   
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    margin:0px;
    background-image: url("/images/100.webp");
    background-size:cover;
    padding: 10px opx 40px 0px;
    

    
   

}
#terms{
    background-color: aliceblue;
    margin-bottom: 0%;
    margin-top:480px;
    background-position-y:bottom;
    padding: 10px;
    
    
}
#title{
    text-shadow: 0px 0px 4px black;
}
.btn{
    padding: 10px 12px;
    background: white;
    border: none;
    font-family: 'Orbitron', sans-serif;
    color: #82a5ca;
    font-weight: 800;


}
.underline{
    border-bottom: 4px solid white
}
.logo{
    width: 100px;
}
